
.header {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  background-color: #202833;
  font-family:  'Cinzel', serif;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  padding: 0%;
  width: 100%;
  position: sticky; /* Makes the header stick until scrolled past */
  top: 0; /* Sticks the header to the top of the page */
  z-index: 1000; /* Ensures the header stays above other content */
  box-shadow: 12px 12px 12px gray;
}

  

  .leftside {
    display: flex;
    flex-direction: row;
  }

.allmenubar {
  padding-top: 25px;
  cursor: pointer;
  padding-left: 12px;
  padding-top: 40px;
}


.homebutton {
  background-color: #202833;
  border: none;
  color: white;
  padding: 6px 6px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
 
}

.homebuttonA {
  padding-top: 35px;
  padding-left: 10px;
}

.homebutton:hover {
  color: #FFD700;
}

.menubar {
  text-align: left;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}
.search-bar {
  display: flex;
  width: 100%;
  /* background: red; */
  justify-content: center;
}
.sitename {
  text-align: center;
  font-family: 'Gilroy-Heavy', sans-serif;
  color: white;
  height: 44px;
  line-height: 44px;
  width: 100%;
  font-weight: 900;
  font-size: 36px; /* Adjust this value to make the text bigger */
  transition: background-color 0.3s ease;
}

.searchbar {
  text-align: center;
  overflow: hidden;
}

.sitenameandsearchbar  {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 30px;
}

.Odds {
  color: #FFFFFF;
}

.aura {
  color: #00C8FF;
}

.pro {
  color: #FFD700;
}

.buttons {
  padding-top: 35px;
  padding-left: 30px;
}

.about {
  background-color: #202833; /* Bright Orange */
  color: white; /* Text color */
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about:hover {
  color: #FFD700;
}

.about:active {
  transform: scale(1.1); /* Zoom in the text when clicked */
  transition: transform 0.1s ease-in-out;
  color: #FFD700;
}

.vip {
  background-color: #202833; /* Bright Orange */
  color: white; /* Text color */
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vip:hover {
  color: #FFD700;
  
}

.vip:active {
  transform: scale(1.1); /* Zoom in the text when clicked */
  transition: transform 0.1s ease-in-out;
  color: #FFD700;
}

.contact {
  background-color: #202833; /* Bright Orange */
  color: white; /* Text color */
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s ease;
}

.contact:hover {
  color: #D4AF37;
  
}

.contact:active {
  transform: scale(1.1); /* Zoom in the text when clicked */
  transition: transform 0.1s ease-in-out;
  color: #FFD700;
}

.academy {
  background-color: #202833; /* Bright Orange */
  color: white; /* Text color */
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.academy:hover {
  color: #FFD700;
}

.academy:active  {
  transform: scale(1.1); /* Zoom in the text when clicked */
  transition: transform 0.1s ease-in-out;
  color: #FFD700;
}